.body {
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapercave.com/wp/wp5865105.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 0;
    padding: 20px;
}



.table{
    padding: 20px;
    border-radius: 1cap;
    height: 100%;
    margin-top: 100px;
   
    
  }

td{
    color: white;
}

th{
    color: white;
}
  
.fw-bolder{
    color: white;
    margin-top: 100px;
    font-weight: bold;
}